# LuaLaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.synctex(busy)
*.dvi
*.log
*.log

# Hyperref
*.out

# BibTeX
*-blx.bib
*.bbl
*.blg
*.bcf
*.run.xml

# Glossaries
*.glg
*.glo
*.gls
*.ist

# Lilypond
tmp*.pdf

# OS X
.DS_Store

# Rust
target

# Stellar
data
dist
node_modules

res